# .DS_Store files
.DS_Store

# Local .terraform directories
**/.terraform/*
*.terraform.lock.hcl

# .tfvars files 
# Github Actions でterraform実行するためIgnoreから外しました。 2022.11.01
# *.tfvars

# .tfstate files
# まだstateファイルをGCSなどに入れていないので、いったんいれておきます 2022.08.09
*.tfstate
*.tfstate.backup

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# python系
**/venv/*
__pycache__

# data
*.csv
